/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  /* Esto centra el div horizontalmente */
  top: auto;  /* Si deseas que esté centrado también verticalmente en la barra de navegación */
}

.brand {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  display: inline;
  color: #ddd;
}

.navbar-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;

}

.navbar-list a:hover {
  color: rgb(76, 132, 253);
  cursor: pointer;
  border-color: rgb(76, 132, 253);
  border-bottom: 2px solid;
}

.main-container {
    display: grid;
    place-items: center; 
    height: calc(100vh - 70px); 
  }
  
  .content {
    padding: 2rem;
    background-color: #ddd;
    border-radius: 8px;
    text-align: center;
  }
/*  */
  .card {
    width: 15rem; /* Reduce el ancho de las tarjetas */
    margin: 15px auto; /* Asegura simetría horizontal y vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.2s, box-shadow 0.2s;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al pasar el mouse */
    transform: translateY(-4px); /* Efecto de elevación */
  }
  
  .card img {
    height: 150px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para que se recorte si es necesario */
    border-radius: 5px; /* Opcional: da bordes redondeados */
  }

.card-title {
  font-weight: bold;
}
  
  .row {
    justify-content: center; /* Alinea las tarjetas horizontalmente */
  }
  
  .card-title {
    text-align: center; /* Centra el texto dentro de cada tarjeta */
  }

  .card-text {
    text-align: left;
  }

.stars {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(57, 57, 255, 0.769);
  display: flex;
  flex-direction: row;
}