/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

.loading {
  display: block;
  margin: 10vh;
  text-align: center;
}

.list-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  /* Esto centra el div horizontalmente */
  top: auto;  /* Esto centra el div verticalmente*/
}

.brand {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.brand:hover {
  color: rgb(255, 255, 255);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  display: inline;
  color: #ddd;
}

.navbar-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;

}

.navbar-list a:hover {
  color: rgb(76, 132, 253);
  cursor: pointer;
  border-color: rgb(76, 132, 253);
  border-bottom: 2px solid;
}

.main-container {
    display: grid;
    place-items: center; 
    height: calc(100vh - 70px); 
  }
  
  .content {
    padding: 2rem;
    background-color: #ddd;
    border-radius: 8px;
    text-align: center;
  }
/*  */
  .card {
    width: 15rem; /* el ancho de las tarjetas */
    margin: 15px auto; /* Asegura simetría horizontal y vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); /* Efecto de elevación */
  }
  
  .card img {
    height: 150px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para que se recorte si es necesario */
    border-radius: 5px;
  }

.card-title {
  font-weight: bold;
}
  
  .row {
    justify-content: center; /* Alinea las tarjetas horizontalmente */
  }
  
  .card-title {
    text-align: center; /* Centra el texto dentro de cada tarjeta */
  }

  .card-text {
    text-align: left;
  }

.stars {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(57, 57, 255, 0.769);
  display: flex;
  flex-direction: row;
}

/* Item Detail */
.item-detail-container {
  margin: auto;
  margin-top: 3vh;
  display: flex;
  height: 80vh; /* Ajusta la altura según necesites */
  width: 98vw; /* Ajusta el ancho según necesites */
  border: 1px solid rgba(99, 99, 99, 0.422); /* Borde negro fino */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  overflow: hidden; /* Para que el contenido no sobrepase los bordes redondeados */
}

.imageContainer {
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.details {
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details p {
  max-width: 80vh;
}

.details-buy {
  gap: 10px;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.counter p {
  margin: auto;
}
