/* General Reset */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
  .navbar-list li {
    display: inline;
}
  
  .navbar-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}
  
  .navbar-list a:hover {
    color: #f0a500;
    cursor: pointer;
}

.main-container {
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
    height: calc(100vh - 70px); /* Altura total menos la altura de la navbar */
    background-color: #f4f4f4;
  }
  
  .content {
    padding: 2rem;
    background-color: #ddd;
    border-radius: 8px;
    text-align: center;
  }